body{
    background: silver;
    font-family: Arial;
}

header::after{
      position: absolute;
      content: "";
      height: 2px;
      background-color: #242424;
      width: 100%;
      top: 80px;
}
.Posts{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}
.Posts img {
  border-radius: 5px;
  width: 250px;
  min-height: 200px;
}
