

.footer-logo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}
.footer-logo img{
  width: 25px;
  height: 25px;
}
.footer-nav ul{
  width: 320px;
  display: flex;
  justify-content: space-around;
}

.footer-nav li{
  display: flex;
  align-items: center;
  list-style: none;
}
.footer-nav a{
  text-decoration: none;
  cursor: pointer;
  color: black;
  font-size: 17px;
}
.footer-nav a:active{
  color: tomato;
}
.footer-nav a:hover{
  color: tomato;
}
