.Posts{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}
.Posts img {
  border-radius: 5px;
  width: 270px;
  min-height: 200px;
}
.container-news {
  margin-top: 60px;
  width: 300px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-news p{
  width: 260px;
  margin-top: 0;
}

.info-post{
  display: flex;
  justify-content: space-between;
}
.info-post-img img{
  width: 600px;
  min-height: 400px;
}
.info-post-content{
  width: 600px;
  min-height: 400px;
    display: flex;
  flex-direction: column;
}
.info-post-content h4{
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.info-post-content p{
  display: flex;
  justify-content: flex-start;
  margin: 0 30px 30px 30px;
}
